<?xml version="1.0"?>
<configuration>
  <location>
    <system.web>     
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="BizagiRestServicesV2Handler" verb="*" path="Config" type="BizAgiBPM.Config.ConfigServicesHttpHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>