<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Bizagi.Cloud.Sites.exe" stdoutLogEnabled="false" arguments="" requestTimeout="00:30:00" stdoutLogFile=".\logs\stdout" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
      <remove name="SoaAuthHttpmodule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<!--ProjectGuid: F39DAB93-0E8A-45EF-92D2-584E9A4F7B3B-->