body
{
	font-size: 11px;
	font-family: NeoSansStdRegular, Verdana;
}


/* -------- Template report data DIV -------- */

.ReportData
{
	margin-top: 7px;
	margin-bottom: 7px;
}


/* -------- Template report header DIV and labels -------- */

.ReportHeader
{
	text-align: left;
	background: url(../../../img/analysis/RedLittleArrow.gif) no-repeat;
	font-size: 11px;
	color: #222222 !important;
}

.lblReportName
{
	text-indent: 25px;
	font-family: NeoSansStdRegular, Trebuchet MS, Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px;
	float: left; /*	width:300px;*/
}

.reportTitleBar
{
	/*width:230px;*/
	display: inline-block;
}

.lblReportDescription
{
	max-width: 750px;
}


/* -------- Template report footer DIV -------- */

.ReportFooter
{
}


/* -------- Result table -------- */

table.AnalysisResultTable
{
	font-family: NeoSansStdRegular,verdana,arial,sans-serif;
	font-size: 11px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin-right: -300px;
}

table.AnalysisResultTable th
{
	color: #666666;
	padding: 6px;
	font-size: 10px; /*background:#C7DEEF;*/
	background: url(../../../img/analysis/cell-blue.jpg) no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
}

table.AnalysisResultTable td
{
	padding: 6px;
	font-size: 10px;
	background-color: #F1F1F1;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color: #222222;
}

table.AnalysisResultTable td > *
{
	float: left;
	line-height: 18px;
}

/* -------- Icons: apply to an empty div/span element to show the icon -------- */
.iconExportToExcel
{
	background: url(../../../img/analysis/excel.gif) no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	border: solid transparent 1px;
}

.iconExportToExcel:hover
{
	background-color: #C7DEEF;
	border: solid #83AADA 1px;
}

.iconDetail
{
	background: url(../../../img/analysis/view_next_disabled.png) no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
	float: right !important;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	border: solid transparent 1px; /*Transparency*/ /*filter:alpha(opacity=40); -moz-opacity:0.4;          -khtml-opacity: 0.4;  opacity: 0.4; */
}

.iconDetail:hover
{
	background: url(../../../img/analysis/view_next.png) no-repeat;
	background-color: #C7DEEF;
	border: solid #83AADA 1px; /*Transparency*/ /*filter:alpha(opacity=100); -moz-opacity:1.0;          -khtml-opacity: 1.0;  opacity: 1.0; */
}

.linkText
{
	cursor: pointer;
}

.linkText:hover
{
	background-color: #C7DEEF;
}
