<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bizAgiComponentLibrary" type="BizAgi.ComponentLibrary.CComponentLibrarySectionHandler,BizAgi.ComponentLibrary" />
  </configSections>
  <!-- *** Component library -->
  <bizAgiComponentLibrary>
    <component namespaces="BizAgi.Authentication" assemblyName="BizAgi.Authentication.dll" />
  </bizAgiComponentLibrary>
  <appSettings>
    <!-- *** Bizagi DB: Check user, password, DB name and server  *** -->
    <add key="DSNDB" value="Current Language=us_english;Initial Catalog=DoganaProj;Data Source=(local)\SQLEXPRESS2017;User ID=sa;Password=CRYPT.1:l18jTPMWkVDQy3PuCcr1/DEldrcWAzB+;" />
    <add key="PROVIDERTYPE" value="MSSqlClient" />
    <add key="Project" value="DoganaProj" />
    <!--add key="REMOTE_CACHE_SYNCHRONIZATION_TYPE" value="DB"/-->
    <!--add key="REMOTE_CACHE_SYNCHRONIZATION_TYPE" value="UDP"/-->
    <!-- *** Threaded Scheduler configuration *** -->
    <add key="ID_STACK_SIZE" value="250" />
    <add key="AsynchTaskWorkingSetSize" value="10" />
    <add key="SchedulerAsyncProcessorIntervalInMillis" value="500" />
    <add key="JobWorkingSetSize" value="10" />
    <add key="SchedulerMaxJobWaitInterval" value="1" />
    <add key="LaunchThreadForLog" value="1" />
    <!-- Enables for each function a threaded option -->
    <add key="MaxThreadsForCustomJobs" value="2" />
    <add key="MaxThreadsForJobs" value="2" />
    <add key="MaxThreadsForAsyncEcm" value="2" />
    <add key="MaxThreadsForAsynchWorkitems" value="4" />
    <!-- SCHEDULER EXECUTION INTERVAL -->
    <!-- <add key="BizagiSchedulerInterval" value="15"/> -->
    <!-- MASTER -->
    <!-- <add key="DisableAsynchCaseClosing" value="0"/> -->
    <!-- <add key="DisableInterfaceErrorLogger" value="0"/> -->
    <!-- <add key="SchedulerClusterID" value="1"/> -->
    <!-- <add key="SchedulerClusterSize" value="2"/> -->
    <!-- SLAVE -->
    <!-- <add key="DisableAsynchCaseClosing" value="1"/> -->
    <!-- <add key="DisableInterfaceErrorLogger" value="1"/> -->
    <!-- <add key="SchedulerClusterID" value="2"/> -->
    <!-- <add key="SchedulerClusterSize" value="2"/> -->
    <!-- *** Begin Scheduler 2.0 Configuration *** -->
    <!-- Enables the web monitor for the new scheduler  -->
    <!--<add key="EnableSchedulerMonitor" value="1" />-->
    <!-- Use this key with 'false' value to disable the compatibility with scheduler 1 -->
    <!--<add key="KeepCompatibilityWithScheduler1" value="false" />-->
    <!-- Use this key to configure the time interval required to refresh the maintenance tasks metadata (Default value: 2 Hours) -->
    <!--<add key="RefreshMaintenanceTasksIntervalInHours" value="2" />-->
    <!-- Use this key to enable the case data cleaning when the process is closed (This option replace the maintenance frame) -->
    <!--<add key="CleanCasesDataOnLine" value="true" />-->
    <!-- *** End Scheduler 2.0 Configuration *** -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bizagi.Cloud.Catalog.Common" publicKeyToken="68d3cc0c117b87cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.70" newVersion="1.3.0.70" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="vjslib" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bizagi.Cloud.Catalog.Client" publicKeyToken="68d3cc0c117b87cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.70" newVersion="1.3.0.70" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.29.0.1078" newVersion="2.29.0.1078" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.112.3.0" newVersion="2.112.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>