@font-face
{
	font-family: 'NeoSansStdRegular';
	src:    url(../../jquery/themes/bizagiDefault/fonts/neosansstd-regular-webfont.eot);
	src:    url(../../jquery/themes/bizagiDefault/fonts/neosansstd-regular-webfont.eot?iefix) format('eot'),
		    url(../../jquery/themes/bizagiDefault/fonts/neosansstd-regular-webfont.ttf) format('truetype'),
		    url(../../jquery/themes/bizagiDefault/fonts/neosansstd-regular-webfont.svg#webfontUDPuYi0Y) format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body,
form,
#divSl { height: 100%; }