
.Analysis_TableTransparent
{
    border-right: #d8d2bd 1px solid;
    border-left: #d8d2bd 1px solid;
    border-bottom: #d8d2bd 1px solid;
    border-top: #d8d2bd 0px solid;
}
.Analysis_TableFilled
{
    border-right: #d8d2bd 1px solid;
    border-left: #d8d2bd 1px solid;
    border-bottom: #d8d2bd 1px solid;
    border-top: #d8d2bd 1px solid;
    background-color: White;
    float: left;
}
.Analysis_CellSelected
{
    width: 24px;
    cursor: pointer;
    border: 1px solid #D4D0C8;
    background-color: #89ADE0;
    color: White;
    font-weight: bold;
    text-align: center;
}
.Analysis_CellNoSelected
{
    width: 24px;
    cursor: pointer;
    border: 1px solid #D4D0C8;
    background-color: #F1F1F1;
    color: #2654AA;
    font-weight: bold;
    text-align: center;
}
.Analysis_CellNoSelected:hover
{
    width: 24px;
    cursor: pointer;
    border: 1px solid #D4D0C8;
    background-color: #89ADE0;
    color: White;
    font-weight: bold;
    text-align: center;
}

/* Navigation menu */
.Analysis_NavigationMenuBack
{
    border-bottom: #DDDDDD 1px solid;
    border-top: #DDDDDD 1px solid;
    background: #F1F1F1;
    padding: 2px;
}
.Analysis_NavigationMenuItem
{
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    font-family: NeoSansStdRegular, Verdana;
    font-size: 11px;
    position: relative;
    height: 18px;
    text-align: center;
    border: #F1F1F1 1px solid;
    color: #A2A4A5;
    background-color: #F1F1F1;
    font-weight: bold;
    width: 150px;
}
.Analysis_NavigationMenuItem:hover
{
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    font-family: NeoSansStdRegular, Verdana;
    font-size: 11px;
    position: relative;
    height: 18px;
    text-align: center;
    border: #DDDDDD 1px solid;
    color: #A2A4A5;
    background-color: #CCCCCC;
    font-weight: bold;
    width: 150px;
}
.Analysis_NavigationMenuItem_hover
{
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    font-family: NeoSansStdRegular, Verdana;
    font-size: 11px;
    position: relative;
    height: 18px;
    text-align: center;
    border: #DDDDDD 1px solid;
    color: #A2A4A5;
    background-color: #CCCCCC;
    font-weight: bold;
    width: 150px;
}
.Analysis_NavigationMenuItem_Selected
{
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    font-family: NeoSansStdRegular, Verdana;
    font-size: 11px;
    position: relative;
    height: 18px;
    text-align: center;
    border: #A2A4A5 1px solid;
    color: White;
    background-color: #A2A4A5;
    font-weight: bold;
    width: 150px;
}

/* Save query button*/
.Analysis_BottomSavePanel
{
    border: #DDDDDD 1px solid;
    background: #F1F1F1;
    cursor: pointer;
}

.Analysis_BottomSavePanel_hover
{
    border: #DDDDDD 1px solid;
    background: #CCCCCC;
    cursor: pointer;
}

.Analysis_BottomSavePanel:hover
{
    cursor: pointer;
    border: #DDDDDD 1px solid;
    background: #CCCCCC;
    padding: 4px;
}

/* Result table */
table.AnalysisResultTable
{
    font-family: NeoSansStdRegular, Verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}


table.AnalysisResultTable th
{
    color: #666666;
    background: #b5cfd2 url('../../img/analysis/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.AnalysisResultTable td
{
    color: #666666; /*background:#dcddc0 url('../../img/analysis/cell-grey.jpg');*/
    background-color: #F1F1F1;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.Analysis_ResultTableTitle
{
    color: #666666;
    font-family: NeoSansStdRegular, Verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

/* Result summary */
table.AnalysisResultSummary
{
    font-family: NeoSansStdRegular, Verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

table.AnalysisResultSummary th
{
    padding: 8px;
    color: #666666;
    font-size: 10px;
    background: #C7DEEF;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

table.AnalysisResultSummary td
{
    padding: 8px;
    color: #666666;
    font-size: 10px;
    background-color: #F1F1F1;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

.Analysis_ResultSummaryTitle
{
    color: #666666;
    font-family: NeoSansStdRegular, Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.Analysis_GoToEditPhases
{
    border: #DDDDDD 1px solid;
    cursor: pointer;
    width: 150px;
}

.Analysis_GoToEditPhases_hover
{
    border: #DDDDDD 1px solid;
    cursor: pointer;
    width: 150px;
    background-color: #CCCCCC;
}

.Analysis_ReportTableCell
{
    border: #DDDDDD 1px solid;
    height: 100%;
}

.Analysis_ReportGroupTable
{
    border-right: #d8d2bd 1px solid;
    border-left: #d8d2bd 1px solid;
    border-bottom: #d8d2bd 1px solid;
    border-top: #d8d2bd 1px solid;
    background-color: White;
    vertical-align: top;
    height: 100%;
}

/*----- Icon for select box processes ----*/
.process-icon-class
{
    background-image: url(../../img/analysis/WfClasses.png) !important;
}

#panelFilters
{
    height: 50px;
    border: solid 1px #D8D2BD;
    background: White;
}

/*-------------- Process filter -------------------*/
#divProcessFilterPanel
{
    padding: 2px;
    border: solid 1px #DDDDDD;
    float: left;
    margin: 2px;
    background: #e6e9ea;
}

.divProcessFilterIcon
{
    min-height: 38px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 20px;
}

.divProcessFilterIcon > *
{
    margin-top: 10px;
}

.processFilterText
{
    font-size: 10px;
}

.divProcessFilter_WfClass
{
    float: left;
    margin-left: 3px;
    text-indent: 4px;
    background: white;
    border: solid 1px #D3D3D3;
}

.divProcessFilter_WfVersion
{
    float: left;
    margin-left: 3px;
    text-indent: 4px;
    background: white;
    border: solid 1px #D3D3D3;
}

#divSlicers
{
    float: left;
}

#ddlWfVersions-button { width: 100% !important; }

#ddlWfVersions-menu { width: 48px !important; }

.iframeTimeFilter { overflow: hidden; }