.WPContextMenu
{
    display: block;
    visibility: hidden;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 100;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    background-image: url(../../img/WorkPortal/ContextMenu/gradient.jpg);
    background-position: left;
    background-repeat: repeat-y;
    overflow: visible;
}
.menuIcon
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
}

.menuItem:link, .menuItem:visited
{
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    clear: left;
}

.menuItem:hover
{
    text-decoration: underline;
    background-image: url(../../img/WorkPortal/ContextMenu/overTree.gif);
    background-position: left;
    background-repeat: repeat-x;
}

.WPContextMenu a
{
    /* Links in the context menu */
    text-decoration: none;
    line-height: 20px;
    vertical-align: middle; 
    /* Don't change these 3 values */
    display: block;
    width: 100%;
    clear: both;
}


.WPContextMenu img
{
    /* Links in the context menu */
    border: 0;
}

.MenuDisplayName
{
    white-space: nowrap;
    overflow: visible;
    padding-right: 15px;
}
